#Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# ignore compressed data
*.gz

# Byte-compiled / optimized / DLL files
__pycache__/

# Data directory
data

#results
results